@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  /* ----------------------------- Font tokens ----------------------------- */
  /* Base defaults (pick what you want as global default) */
  --font-display: var(--font-rader-regular), sans-serif;
  --font-sans: var(--font-rader-regular), sans-serif;

  /* Agrandir aliases (your existing naming) */
  --font-agrandir: var(--font-agrandir-regular);
  --font-agrandir-bold: var(--font-agrandir-bold);
  --font-agrandir-grand-heavy: var(--font-agrandir-grand-heavy);
  --font-agrandir-tight: var(--font-agrandir-tight-regular);
  --font-agrandir-italic: var(--font-agrandir-italic);

  /* Rader aliases (new) */
  --font-rader: var(--font-rader-regular);
  --font-rader-medium: var(--font-rader-medium);
  --font-rader-bold: var(--font-rader-bold);
  --font-rader-italic: var(--font-rader-italic);
  --font-rader-medium-italic: var(--font-rader-medium-italic);
  --font-rader-bold-italic: var(--font-rader-bold-italic);

  --default-transition-duration: 250ms;
}

html,
body {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

/* strong,
b {
  font-family: var(--font-agrandir-bold), sans-serif;
  font-weight: normal;
  letter-spacing: 0.02em;
  padding-right: 0.05em;
}

em,
i {
  font-family: var(--font-agrandir-italic), sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  padding-right: 0.05em;
  padding-left: 0.05em;
}

strong::after,
b::after,
em::after,
i::after,
i::before,
em::before {
  content: '';
  display: inline-block;
  width: 0.15em;
} */
